<%= form_for(@search_analytic) do |f| %>
  <% if @search_analytic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_analytic.errors.count, "error") %> prohibited this search_analytic from being saved:</h2>

      <ul>
      <% @search_analytic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
