<p id="notice"><%= notice %></p>

<h1>Listing Search Analytics</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_analytics.each do |search_analytic| %>
      <tr>
        <td><%= search_analytic.text %></td>
        <td><%= search_analytic.count %></td>
        <td><%= link_to 'Show', search_analytic %></td>
        <td><%= link_to 'Edit', edit_search_analytic_path(search_analytic) %></td>
        <td><%= link_to 'Destroy', search_analytic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search analytic', new_search_analytic_path %>
