<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @search_analytic.text %>
</p>

<p>
  <strong>Count:</strong>
  <%= @search_analytic.count %>
</p>

<%= link_to 'Edit', edit_search_analytic_path(@search_analytic) %> |
<%= link_to 'Back', search_analytics_path %>
